.App {
  text-align: center;
}

.chart1 {
  padding: 100px;
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.marker-btn img {
  width: 20px;
  height: 20px;
}

.geolocateControl {
  width: "30px";
  height: "30px";
  margin: "30px";
}
